<nav class="Nav-Bar">
  <div class="Nav-logo"><h2>E-commerce Shop</h2></div>
  <div class="Nav-link">
    <a href="">Story</a>
    <a href="">Contact Us</a>
    <a href="">Track Order</a>
  </div>
  <div class="Nav-Img">
    <a href="#/cart-page"><img src="<%= images.shoppingcartadd %>" alt="" /></a>
  </div>
</nav>
<div class="box"></div>
