<%= partials.navbar({images}) %>

    <section id="page-container" class="container">
        <div class="title-wrapper">
            <p>Shop by category</p>
            <div id="button-container"></div>
            <h1 id="category-h1">All products</h1>
            <span></span>
        </div>
        <div id="product-container"></div>
    </section>

    <%= partials.footer({images}) %>

        <!-- Start PRODUCT LIST SECTION -->
        <template id="product-list-template">
            <div class="product-card">
                <a class="product-link">
                    <img class="product-image" src="#" alt="product image" width="200px" />
                </a>
                <div class="info-wrapper">
                    <p class="product-title">title</p>
                    <p class="product-description">description</p>
                    <p class="product-price">price</p>
                </div>
                <button class="add-button">Add to cart</button>
                <div id="alert-box" class="hidden">
                    <p class="alert-message">The product has been added to your shopping cart</p>
                    <button class="alert-close-button">OK</button>
                </div>
            </div>
        </template>