<h1>home</h1>
<a href="#/cart-page">Go to cart</a>

<section class="product-container" id="page-container">
    <div id="product-container"></div>
</section>

<!-- Start PRODUCT LIST SECTION -->
<template id="product-list-template">
    <div class="product-list-section">
        <a class="product-link">
            <img class="product-image" src="#" alt="product image" width="200px" />
        </a>
        <p class="product-title">title</p>
        <p class="product-description">description</p>
        <p class="product-price">price</p>
    </div>
</template>