/* styles.css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-lt-gray: #f1f2f2;
  --color-dk-gray: #54595f;
  --color-white: #fafafa;
  --color-nude: #c19a83;
  --font-main: "Oswald", serif;
}

button {
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-nude);
}